* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
}

/* Utility Classes */
.container {
    max-width: 1150px;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #d1d1d1;
    text-transform: uppercase;
    font-size: 17px;
}

.l-heading {
    font-size: 64px;
    color: #fff;
    font-weight: bold;
}

.heading-dark {
    color: #222;
    font-size: 35px;
}

.heading-light {
    color: #fff;
    font-size: 35px;
}

.heading-secondary {
    color: #333;
    font-size: 18px;
}

.text-primary {
    color: #56a000;
}

.bottom-line-primary {
    height: 3px;
    width: 70px;
    background: #69c400;
    margin: 20px 0;
}

.bottom-line-secondary {
    height: 3px;
    width: 70px;
    background: #fff;
    margin: 20px auto;
}

.bottom-line-light {
    height: 3px;
    width: 70px;
    background: #ddd;
    margin: 10px auto;
}

.btn {
    background: #69c400;
    padding: 15px 20px;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
}

.btn:hover {
    background: #56a000;
}

/* Navbar */
#navbar {
    background: #333;
    position: sticky;
    top: 0;
    z-index: 2;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar .logo a {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}

#navbar .container ul {
    display: flex;
    list-style: none;
}

#navbar .container ul li {
    padding: 10px 20px;
}

#navbar .container ul li a:hover {
    color: #69c400;
}

.menu-wrap {
    display: none;
}

/* Showcase */
#showcase {
    background: url('img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: absolute;
    top: 82px;
    left: 0;
    background: rgba(22, 26, 22, 0.5);
    width: 100%;
}

#showcase .showcase-content p {
    color: #fff;
    font-size: 22px;
    padding: 25px;
    max-width: 45%;
    padding-bottom: 40px;
}

/* About */
#about {
    background: #f4f4f4;
}

#about .container .about-container {
    display: flex;
    padding: 100px 0;
}

#about .container .about-container .about-info {
    flex: 2;
    margin-right: 20px;
}

#about .container .about-container .about-item {
    flex: 1;
    padding: 20px;
}

#about .container .about-container .about-info .para {
    padding: 30px 0;
}

#about p {
    font-size: 15px;
    line-height: 1.5;
    color: #555;
    padding: 10px 0;
    text-align: justify;
}

#about .container .about-container .about-item .image-1 {
    background: url('img/about-1.jpg') no-repeat center center/cover;
    height: 250px;
    width: 100%;
}

#about .container .about-container .about-item .image-2 {
    background: url('img/about-2.jpg') no-repeat center center/cover;
    height: 250px;
    width: 100%;
}

#about .container .about-container .about-item h2 {
    color: #333;
    padding: 20px 0;
}

/* Services */
#services {
    background: #69c400;
}

#services .container {
    text-align: center;
    padding: 100px 0;
}

#services .container p {
    color: #fff;
}

#services .container .services-container {
    display: flex;
    padding-top: 50px;
}

#services .container .services-container .service-item {
    padding: 20px;
}

#services .container .services-container .service-item h2 {
    color: #fff;
    font-weight: 300;
    padding: 20px 0;
}

#services .container .services-container .service-item .service-img {
    height: 250px;
    border-radius: 50%;
    border: #77d012 10px solid;
}

.img-1 {
    background: url('img/services-1.jpg') no-repeat center center/cover;
}

.img-2 {
    background: url('img/services-2.jpg') no-repeat center center/cover;
}

.img-3 {
    background: url('img/services-3.jpg') no-repeat center center/cover;
}

.img-4 {
    background: url('img/services-4.jpg') no-repeat center center/cover;
}

/* Gallary */
#gallary {
    background: #f4f4f4;
}

#gallary .container {
    text-align: center;
    padding: 50px 0;
}

#gallary .container h1 {
    padding-top: 30px;
}

#gallary .container .bottom-line-primary {
    margin: 20px auto;
}

#gallary .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

#gallary .container ul li {
    list-style: none;
    padding: 10px 20px;
    background: #dddddd;
    color: #555;
    margin: 0 20px;
    border-radius: 5px;
}

#gallary .container ul li:hover {
    background: #69c400;
    color: #fff;
    cursor: pointer;
}

#gallary .container .grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    padding-bottom: 50px;
}

#gallary .container .grid-container .grid-img-cont {
    position: relative;
    height: 250px;
}

#gallary .container .grid-container .grid-img-cont .grid-img {
    display: block;
    width: 100%;
    height: 100%;
}

#gallary .container .grid-container .grid-img-cont .gi-1 { background: url('img/gallary-1.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-2 { background: url('img/gallary-2.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-3 { background: url('img/gallary-3.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-4 { background: url('img/gallary-4.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-5 { background: url('img/gallary-5.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-6 { background: url('img/gallary-6.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-7 { background: url('img/gallary-7.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-8 { background: url('img/gallary-8.jpg') no-repeat center center/cover; }
#gallary .container .grid-container .grid-img-cont .gi-9 { background: url('img/gallary-9.jpg') no-repeat center center/cover; }

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .15s ease;
    transition: .15s ease;
}

#gallary .container .grid-container .grid-img-cont:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
}

/* Testimonials */
#testimonials {
    background: url('img/testimonial.jpg') no-repeat center center/cover;
    text-align: center;
}

#testimonials .test-container {
    background: #69c400;
    opacity: 0.8;
    width: 100%;
}

#testimonials .test-container .container h1 {
    padding-top: 100px;
}

#testimonials .test-container .container .testimonial {
    padding-top: 50px;
}

#testimonials .test-container .container .testimonial p {
    color: #fff;
    font-size: 18px;
    line-height: 2;
    width: 75%;
    margin: auto;
}

#testimonials .test-container .container .dots {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#testimonials .test-container .container .dots .dot {
    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px;
}

/* Contact */
#contact {
    background: #f4f4f4;
}

#contact .container {
    text-align: center;
}

#contact .container h1 {
    padding-top: 80px;
}

#contact .container .bottom-line-primary {
    margin: 20px auto;
}

#contact .container > p {
    font-size: 20px;
}

#contact .container p {
    color: #555;
    padding: 10px;
}

#contact .container .contacts {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#contact .container .contacts .cnt {
    padding: 50px;
}

#contact .container .contact-form {
    padding: 40px 0;
    width: 70%;
    margin: auto;
}

#contact .container .contact-form .form-group {
    width: 100%;
}

#contact .container .contact-form .form-group .form-input {
    background: #fff;
    padding: 12px;
    border: #ddd 1px solid;
    flex: 1;
    margin: 0 15px;
    font-size: 16px;
    width: 45%;
}

#message {
    display: block;
    margin: 20px;
    width: 95%;
    height: 150px;
    padding: 20px;
    border: #ddd 1px solid;
    font-size: 18px;
}

#contact .container .contact-form .btn {
    margin-top: 20px;
    border: none;
}

#footer {
    background: #333;
    text-align: center;
}

#footer .container .socials {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#footer .container .socials .social-icon {
    background: #444;
    color: #69c400;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
}

#footer .container .socials .social-icon .fa-facebook-f {
    padding: 3px 7px;
}

#footer .container .socials .social-icon .fa-twitter {
    padding: 4px 5px;
}

#footer .container .socials .social-icon .fa-google-plus-g {
    padding: 5px 3px;
}

#footer .container p {
    color: #666;
    padding-bottom: 20px;
}

#footer .container p span {
    color: #888;
}